
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body {
  font-family: 'Assistant', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f6fdfb;
  color: #000000;
  font-size: 18px;
}

/****************/
/* LANDING PAGE */
/****************/

.login-container {
  /* max-width: 400px;
  margin: 50px auto;
  margin-bottom: 0px;
  padding: 20px; */
}

.welcome-container {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin: 10%;
}

.login_form_img_boxes {
  flex: 1;
  padding: 20px;
  margin: 10px;
}

.welcome-left-div {
  padding: 5% 0 0 40%;
  height: fit-content;
}

.welcome-right-div {
  height: fit-content;
  padding: 10% 20% 0 0;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 70%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  color: black;
  background-color: #FAFCFC;
}

.login-container input[type="text"]::placeholder
.login-container input[type="password"]::placeholder {
  color: #999;
  font-size: 90%;
}

.login-container button {
  width: 30%;
  cursor: pointer;
  border-radius: 6px;
  height: fit-content;
}

.botton-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 0 20% 0 0;
}

.signup-title {
  margin: 30px 0 10px 0;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 0 20% 0 0;
}

.signin-button {
  background-color: #00958E;
  color: #fff;
  border: none;
  padding: 10px;
}

.signin-button:hover {
  background-color: #007977; /* Couleur plus foncée au survol */
}

.signup-button {
  color: black;
  background-color: white;
  border: 1px solid #00958E;
  padding: 10px;
}

.signup-button:hover {
  background-color: #ececec; /* Couleur plus foncée au survol */
  color: #000000; /* Couleur du texte au survol */
}

.welcome-text {
  color: black;
  font-size: 30px;
  margin-left: 10px;
  letter-spacing: 2px; /* Espacement entre les lettres */
}

.welcome-text span {
  font-weight: bold;
  color: #00958E;
}

.login-form-img-container {
  display: flex;
  height: fit-content;
}

#welcome-img {
  height: 50%;
}

.a-link {
  width: 100%;
  color: black;
  display: flex;
  justify-content: left;
  height: 4vh;
}

/**********/
/* HEADER */
/**********/

@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

.header {
  margin: 1;
  padding: 10px;
  letter-spacing: 1px;
}

.box {
  flex: 1;
  margin: 10px;
}

.logo {
  float: left;
  margin-right: 60px;
}

.menu {
  list-style-type: none;
  margin: 35px;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-right: 10px;
}

.header-link {
  text-decoration: none;
  font-weight: normal;
  color: #00958E;
}

.header-link:hover {
  color: #006261; /* Couleur plus foncée au survol */
}

input {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
  border: #fff;
}

.search-container {
  position: absolute;
  top: 1%;
  right: 5%;
  margin: 25px;
  border: 1px solid #00958E;
  border-radius: 7px; /* Adjust the border radius value as desired */
  width: 16%;
}

.search-field {
  display: flex;
  align-items: center;
  padding: 5px;
}

.search-icon {
  margin-right: 5px;
  color: white;
}

.search-field input[type="text"]::placeholder {
  color: #999;
  font-size: 90%;
}

.search-field input[type="text"] {
  background-color: #FAFCFC;
  outline: none;
  color: black; /* Set text color to black */
}

.search-field i {
  margin-left: 5px;
}

.icon-background {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  padding: 10px;
  border: 1px solid #00958E;
  background-color: #00958E;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

/**********/
/* FOOTER */
/**********/


@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

.footer {
  margin: 2px;
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;
  border-top: 1px solid #00958E;
  letter-spacing: 1px;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  color: black;
  text-decoration: none;
  font-weight: normal;
}

.container {
  display: flex;
  align-items: center;
}

.container.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px; /* Ajustez cette valeur pour définir l'espace entre les icônes et le texte du copyright */
}

.same-size-image {
  width: auto;
  height: 1.1em;
  vertical-align: middle;
  margin-bottom: 0.5em;
  margin-right: 5px; /* Ajustez cette valeur pour définir l'espace entre le texte et l'image */
}

.same-size-image-reseaux {
  width: 1.5em; /* Ajustez cette valeur pour définir la taille des icônes */
  height: 1.5em; /* Ajustez cette valeur pour définir la taille des icônes */
  margin: 0 4px; /* Ajustez cette valeur pour définir l'espace entre les icônes */
}

.footer-link-langue {
  display: flex;
  align-items: center;
}

.footer-link-langue a {
  margin-right: 5px; /* Ajustez cette valeur pour définir l'espace entre les liens */
}

.footer-link-langue img {
  vertical-align: middle;
}

.footer-copyright {
  font-size: 12px;
  text-align: center;
  width: 100%; /* Pour centrer le texte sur toute la largeur */
}

.footer-link.footer-copyright {
  margin-top: 0px; /* Ajustez cette valeur pour définir l'espace entre les icônes et le copyright */
}
